.pages_control {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.pages_control button {
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 6vh;
  color: white;
  transition: opacity 0.3s;
  background-color: rgb(22, 22, 22);
  border: none;
}

.pages_control div {
  text-align: center;
  font-size: 4vh;
  color: rgb(22, 22, 22);
  transition: opacity 0.3s;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 2.5vw;
  border: none;
  padding: 10px;
}
.pages_control div:hover {
  cursor: pointer;
  opacity: 80%;
}
.pages_control button:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 1080px){
  .pages_control {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .pages_control button {
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 6vh;
    color: white;
    transition: opacity 0.3s;
    background-color: rgb(22, 22, 22);
    border: none;
  }

  .pages_control div {
    text-align: center;
    font-size: 4vh;
    color: rgb(22, 22, 22);
    transition: opacity 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 11vw;
    border: none;
    padding: 10px;
  }
  .pages_control div:hover {
    cursor: pointer;
    opacity: 80%;
  }
  .pages_control button:hover {
    cursor: pointer;
    opacity: 80%;
  }
}
