.icons  {
  width: 7vw;
  font-size: 2.1vw;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.icons svg {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1080px) {
  .icons {
    font-size: 15vw;
    margin-top: 30px;
  }
}
